Ansible Managed by {{ ansible_manager_username }}
Hostname: {{ ansible_hostname }}
Distribution: {{ ansible_os_family }} ({{ ansible_distribution_major_version }})
Last configuration run: {{ ansible_date_time.iso8601 }}